<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>79957987746-tp64qusc5nh9unbei9udgfab95b2arcv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.79957987746-tp64qusc5nh9unbei9udgfab95b2arcv</string>
	<key>API_KEY</key>
	<string>AIzaSyBHILTj5xCWqVfdQhrAqGnRWJo-wSgeBS0</string>
	<key>GCM_SENDER_ID</key>
	<string>79957987746</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neilmarcellini.FirebaseTodo</string>
	<key>PROJECT_ID</key>
	<string>fir-todo-f9a9d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-todo-f9a9d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:79957987746:ios:1f131cfbe027ffef47e2fb</string>
	<key>DATABASE_URL</key>
	<string>https://fir-todo-f9a9d.firebaseio.com</string>
</dict>
</plist>